
}

#keyframes chocolate{
	0% {color:#4286f4;}
	25%{color:#9242f4;}
	50%{color:#f442d7;}
	75%{color:#e8f442;}
	100%{color:#42f4aa;}
}

@-webkit-keyframes chocolate{
	0% {color:#4286f4;}
	25%{color:#9242f4;}
	50%{color:#f442d7;}
	75%{color:#e8f442;}
	100%{color:#42f4aa;}
}
h1{
	-webkit-animation-name: chocolate; /* Safari 4.0 - 8.0 */
    	-webkit-animation-duration: 1s;
    	animation-name: chocolate;
	font-size:90px;
	font-family: 'Ranga', cursive;

}

img{
  height:400px;
  width:auto;
}

body {
  background: url("snow.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#meow{
	font-size:45px;
	color: purple;
	font-family: 'Eagle Lake', cursive;
}


